.bckg-gameone {
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.mybutton {
  font-family: 'Sriracha', cursive;
  border: 1px solid white;
  height: 42px;
  width: 90px;
  padding-top: 10px;
}
.myFinal {
  height: 30px;
  width: 80px;
  padding-top: 10px;
}

.timer-top {
  position: absolute;
  top: 10px;
  left: 50%;
  font-size: 24px;
  margin-left: -50px;
}

.text-gameone {
  z-index: 10;
  position: absolute;
  top: 65%;
  font-family: 'Sriracha', cursive;
}
