.bckg-ranking {
  color: white;
}
.take-in-ranking {
  width: auto;
  padding-top: 9%;
}

.list-ranking {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.list-try-ranking {
  margin: 2%;
  width: 100%;
}
.list-try-ranking.title {
  text-decoration: underline;
  font-size: 21px;
}
