.subscribe {
  color: white;

  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.subscribe > * input {
  /* margin-left: 30px;
  left: 8px;
  position: relative; */
}
